.row
  .col-md-6
    %h3 Leader board
    %table.table.board
      %tr
        %th Game
        %th Score
        %th User
      - @best_scores.each do |game, scores|
        %tr
          %th= link_to game.title, game_game_levels_path(game)
          %th
          %th
          - scores.each do |score|
            %tr
              %td.level= link_to score.game_level.title, game_game_level_path(game, score.game_level)
              %td
                = score.value
                - if current_user && score.user != current_user
                  %span.text-primary{title: 'Your best score'}
                    (#{current_user.best_score_for(score.game_level).value})
              %td
                - if score.user == current_user
                  .text-primary
                    %strong you
                - else
                  = score.user.name

  .col-md-6
    %h3 Recent scores
    %table.table
      %tr
        %th Game
        %th Score
        %th User
      - @scores.each do |score|
        %tr
          %td= score.game_level.full_title
          %td= score.value
          %td
            - if score.user == current_user
              you
            - else
              = score.user.name
