%h1 Scores for #{@user.email}

%table.table
  - @scores.each do |score|
    %tr
      %td= link_to score.value, score
      %td= link_to score.game_level.full_title, game_game_levels_path(score.game_level.game)
      %td= link_to 'Edit', edit_score_path(score)
      %td= link_to 'Destroy', score, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Score', new_score_path
