= @greeting

Your record on #{@score.game_level.full_title} has been beaten by #{@score.user.name}. Your previous record was #{@score.last_best.value}, the new record is #{@score.value}.

Get to work to reclaim your leadership!

Your Friends Score team.
