= simple_form_for([@game, @game_level]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :order, as: :select, collection: GameLevel::ORDER_VALUES.invert.to_a, include_blank: false

  .form-actions
    = f.submit :submit, class: 'btn btn-primary'
