%h3 Levels for #{@game.title}

%table.table
  %tr
    %th Title
    %th
    %th

  - @game_levels.each do |game_level|
    %tr
      %td= link_to game_level.title, [@game, game_level]
      %td= link_to 'Edit', edit_game_game_level_path(@game, game_level)
      %td= link_to 'Destroy', [@game, game_level], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Game level', new_game_game_level_path
