%p#notice= notice

%p
  %b Title:
  = @game_level.title
%p
  %b Game:
  = @game_level.game.title
%p
  %b Order:
  = GameLevel::ORDER_VALUES[@game_level.order.to_sym]

= link_to 'Edit', edit_game_game_level_path(@game, @game_level)
